# Version 1.0.10.3
# Created by https://www.gitignore.io/api/c,linux,windows,assembler,visualstudiocode
# Edit at https://www.gitignore.io/?templates=c,linux,windows,assembler,visualstudiocode

### Assembler ###
*.exe
*.o
*.obj
*.bc

### C ###
# Prerequisites
*.d

# Object files
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/c,linux,windows,assembler,visualstudiocode
H2o/linux/
H2o/kmutex.*
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/Tarea 3 - 2019P.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/Tarea_3___2019P.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/build.make
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/depend.make
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/flags.make
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/includes_C.rsp
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/link.txt
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/objects1.rsp
cmake-build-debug/CMakeFiles/Tarea_3___2019P.dir/progress.make
CMakeLists.txt
/.vs/drive-safely/v16/Browse.VC.db
/.vs/Tarea 3 - 2019P/v16/Browse.VC.db
/drive-safely.sln
/drive-safely.vcxproj
/drive-safely.vcxproj.filters
/.vs/Tarea 3 - 2019P/v16/ipch/AutoPCH/1b17f17cf6e6f01f/H2O-IMPL.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
